body {
    background-color: #151E3F;
}

p {
    color: #FCF7F8;
    font-family: Consolas;
}

.navbar {
    background-color: #030027;
    width: 100%;
    height: fit-content;
    float: left;
}

.navbar-item{
    height: 30px;
    float: left;
    vertical-align: middle;
}

#navbar-logo {
    height: 20px;
    float: left;
}